<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sarper"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".chooseBreakfast"
            tools:ignore="ExtraText">
            android:label="chooseBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.MainActivity" />
        </activity>
        <activity android:name=".chooseLunch">
            android:label="chooseLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.MainActivity" />
        </activity>
        <activity android:name=".chooseDinner">
            android:label="chooseDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.MainActivity" />
        </activity>
        <activity android:name=".chooseFatHeavyForBreakfast">
            android:label="chooseFatHeavyForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseBreakfast" />
        </activity>
        <activity android:name=".chooseProRichForBreakfast">
            android:label="chooseProRichForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseBreakfast" />
        </activity>
        <activity android:name=".chooseCarboForBreakfast">
            android:label="chooseCarboForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseBreakfast" />
        </activity>
        <activity android:name=".chooseCarboForDinner">
            android:label="chooseCarboForDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseDinner" />
        </activity>
        <activity android:name=".chooseProRichForDinner">
            android:label="chooseProRichForDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseDinner" />
        </activity>
        <activity android:name=".chooseFatHeavyForDinner">
            android:label="chooseFatHeavyForDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseDinner" />
        </activity>
        <activity android:name=".chooseFatHeavyForLunch">
            android:label="chooseFatHeavyForLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseLunch" />
        </activity>
        <activity android:name=".chooseCarboForLunch">
            android:label="chooseCarboForLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseLunch" />
        </activity>
        <activity android:name=".choosenFatHeavyMeal1ForBreakfast">
            android:label="choosenFatHeavyMeal1ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseFatHeavyForBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForBreakfast" />
        </activity>
        <activity android:name=".choosenFatHeavyMeal2ForBreakfast">
            android:label="choosenFatHeavyMeal2ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseFatHeavyForBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForBreakfast" />
        </activity>
        <activity android:name=".choosenFatHeavyMeal3ForBreakfast">
            android:label="choosenFatHeavyMeal3ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseFatHeavyForBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForBreakfast" />
        </activity>
        <activity android:name=".choosenFatHeavyMeal4ForBreakfast">
            android:label="choosenFatHeavyMeal4ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseFatHeavyForBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForBreakfast" />
        </activity>
        <activity android:name=".choosenFatHeavyMeal1ForLunch">
            android:label="choosenFatHeavyMeal1ForLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseFatHeavyForLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForLunch" />
        </activity>
        <activity android:name=".choosenFatHeavyMeal2ForLunch">
            android:label="choosenFatHeavyMeal2ForLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseFatHeavyForLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForLunch" />
        </activity>
        <activity android:name=".choosenFatHeavyMeal3ForLunch">
            android:label="choosenFatHeavyMeal3ForLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseFatHeavyForLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForLunch" />
        </activity>
        <activity android:name=".choosenFatHeavyMeal4ForLunch">
            android:label="choosenFatHeavyMeal4ForLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseFatHeavyForLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForLunch" />
        </activity>
        <activity android:name=".choosenCarboMeal1ForBreakfast">
            android:label="choosenCarboMeal1ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseCarboForBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseCarboForBreakfast" />
        </activity>
        <activity android:name=".choosenCarboMeal2ForBreakfast">
            android:label="choosenCarboMeal2ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseCarboForBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseCarboForBreakfast" />
        </activity>
        <activity android:name=".choosenCarboMeal3ForBreakfast">
            android:label="choosenCarboMeal3ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseCarboForBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseCarboForBreakfast" />
        </activity>
        <activity android:name=".choosenCarboMeal4ForBreakfast">
            android:label="choosenCarboMeal4ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseCarboForBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseCarboForBreakfast" />
        </activity>
        <activity android:name=".choosenProteinMeal1ForBreakfast">
            android:label="choosenProteinMeal1ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseProRichForBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseProRichForBreakfast" />
        </activity>
        <activity android:name=".choosenProteinMeal2ForBreakfast">
            android:label="choosenProteinMeal2ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseProRichForBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseProRichForBreakfast" />
        </activity>
        <activity android:name=".choosenProteinMeal3ForBreakfast">
            android:label="choosenProteinMeal1ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseProRichForBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseProRichForBreakfast" />
        </activity>
        <activity android:name=".choosenProteinMeal4ForBreakfast">
            android:label="choosenProteinMeal4ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseProRichForBreakfast">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseProRichForBreakfast" />
        </activity>
        <activity android:name=".choosenCarboMeal1ForLunch">
            android:label="choosenCarboMeal1ForLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseCarboForLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseCarboForLunch" />
        </activity>
        <activity android:name=".choosenCarboMeal2ForLunch">
            android:label="choosenCarboMeal2ForLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseCarboForLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseCarboForLunch" />
        </activity>
        <activity android:name=".choosenCarboMeal3ForLunch">
            android:label="choosenCarboMeal3ForLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseCarboForLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseCarboForLunch" />
        </activity>
        <activity android:name=".choosenCarboMeal4ForLunch">
            android:label="choosenCarboMeal4ForLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseCarboForLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseCarboForLunch" />
        </activity>
        <activity android:name=".choosenProteinMeal1ForLunch">
            android:label="choosenProteinMeal1ForLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseProRichForLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseProRichForLunch" />
        </activity>
        <activity android:name=".choosenProteinMeal2ForLunch">
            android:label="choosenProteinMeal2ForLuncht"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseProRichForLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseProRichForLunch" />
        </activity>
        <activity android:name=".choosenProteinMeal3ForLunch">
            android:label="choosenProteinMeal3ForLunch"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseProRichForLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseProRichForLunch" />
        </activity>
        <activity android:name=".choosenProteinMeal4ForLunch">
            android:label="choosenProteinMeal1ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseProRichForLunch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseProRichForLunch" />
        </activity>
        <activity android:name=".choosenFatHeavyMeal1ForDinner">
            android:label="choosenFatHeavyMeal1ForDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseFatHeavyForDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForDinner" />
        </activity>
        <activity android:name=".choosenFatHeavyMeal2ForDinner">
            android:label="choosenProteinMeal2ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseFatHeavyForDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForDinner" />
        </activity>
        <activity android:name=".choosenFatHeavyMeal3ForDinner">
            android:label="choosenProteinMeal3ForBreakfast"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseFatHeavyForDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForDinner" />
        </activity>
        <activity android:name=".choosenFatHeavyMeal4ForDinner">
            android:label="choosenFatHeavyMeal4ForDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseFatHeavyForDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForDinner" />
        </activity>
        <activity android:name=".choosenCarboMeal1ForDinner">
            android:label="choosenFatHeavyMeal4ForDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseCarboForDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseCarboForDinner" />
        </activity>
        <activity android:name=".choosenCarboMeal2ForDinner">
            android:label="choosenCarboMeal2ForDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseCarboForDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseCarboForDinner" />
        </activity>
        <activity android:name=".choosenCarboMeal3ForDinner">
            android:label="choosenCarboMeal3ForDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseCarboForDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseFatHeavyForDinner" />
        </activity>
        <activity android:name=".choosenCarboMeal4ForDinner">
            android:label="choosenCarboMeal4ForDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseCarboForDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseCarboForDinner" />
        </activity>
        <activity android:name=".choosenProteinMeal1ForDinner">
            android:label="choosenProteinMeal1ForDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseProRichForDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseProRichForDinner" />
        </activity>
        <activity android:name=".choosenProteinMeal2ForDinner">
            android:label="choosenProteinMeal2ForDinne"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseProRichForDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseProRichForDinner" />
        </activity>
        <activity android:name=".choosenProteinMeal3ForDinner">
            android:label="choosenProteinMeal3ForDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseProRichForDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseProRichForDinner" />
        </activity>
        <activity android:name=".choosenProteinMeal4ForDinner">
            android:label="choosenProteinMeal4ForDinner"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.example.sarper.chooseProRichForDinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarper.chooseProRichForDinner" />
        </activity>

    </application>

</manifest>